/docs/
/lib/
/bin/
/.shards/
*.dwarf
metric
*.js

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
todo.txt
bin_*
pyvenv.cfg
/share/
download/
